*,*::before, *::after {
box-sizing: border-box;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;


}
header{
    position: top;
}
body {
    padding: 0;
    margin:0;
display:flex;
width: 100vw;
height: 100vh;
justify-content: center;
align-items: center;
background-color: rgb(75, 149, 214);
}

.container {
    width: 800px;
    max-width: 80%;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px;
    background-color: rgb(247, 200, 212);
}
.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin:10px 0; 
    background-color: rgb(247, 200, 212);
   
}


.btn{
    border-radius: 10px;
    margin: 5px;
}
.btn:hover{
    border-color: black;

}
#start-btn{
    text-align: center;
    
}

#name{
    text-align: center;
}

#start-Over{
    text-align: center;
}


.hide{
    display: none;
}
#Score-board{
    align-items:top;
}

h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30pt;
}
p{
    padding: 30px;
}


